html,
    
    header {
        background-color: grey;
    }
    div {
        background-color: rgb(104, 104, 179);        
    }

    h2 {
        color: darkviolet;
        background-color: lavender;
        text-align: center;
    }
    
    h3 {
        color: darkviolet;
        background-color: lavender;
        text-align: center;
    }
    img {
        border-radius: 50%;
    }
   